//
   Created by mariosky on 3/16/16.

extends layout
block content
   .container
      nav.navbar.navbar-default
         .container-fluid
            .navbar-header
               a.navbar-brand EvoDraw Dashboard
      .row
         .col-sm-8
            .panel.panel-default
               .panel-heading
                  .panel-title Population
               #population.panel-body
            button#evolve.btn.btn-default.btn-block(type="button") Evolve
            button#initialize.btn.btn-danger.btn-block(type="button") Re-start Population

         .col-sm-3
            .panel.panel-default
               .panel-heading
                  .panel-title Sample Queue
               #sample-queue.panel-body
            button#respawn.btn.btn-default.btn-block(type="button") Respawn
   .modal.fade#modalInfo(tabindex="-1" role="dialog" aria-labelledby="Individual Info")
      .modal-dialog
         .modal-content
            .modal-header
               h4.modal-title Details
            #modalContent.modal-body
            .modal-footer
               button(type="button" class="btn btn-default" data-dismiss="modal") Close



   script(src="/javascripts/jquery.min.js")
   script(src="/javascripts/modal.js")
   script(src="/javascripts/evodraw-dashboard.js")







