//
   Created by mariosky on 3/16/16.

extends layout
block content
   .container
      h1#tit= title
      p Welcome to #{title}
      canvas#lienzo(data-processing-sources='/javascripts/drawings.pde')
      script(src="/javascripts/face-reader.js")
block scripts
      script(src="/socket.io/socket.io.js")
      script(src="/javascripts/processing.min.js")
