//Created by mario on 3/20/16.

extends layout
block content
   .container
      nav.navbar.navbar-default
         .container-fluid
            .navbar-header
               a.navbar-brand EvoDraw Configuration Saved
      a(href="/evodraw") Go to EvoDraw
      block scripts
   script(src="/javascripts/jquery.min.js")

