//
   Created by mariosky on 6/29/16.

extends layout
block content
   .container
      nav.navbar.navbar-default
         .container-fluid
            .navbar-header
               a.navbar-brand EvoDraw Dashboard
      .row
         .col-sm-8
            button#evolve.btn.btn-default.btn-block(type="button") Evolve


   script(src="/javascripts/jquery.min.js")
   script(src="/javascripts/modal.js")
   script(src="/javascripts/evodraw-dashboard-evolve.js")