//
   Created by mariosky on 3/16/16.

extends layout
block content
   .jumbotron.masthead
      .container
         h1#tit= title
         p Welcome to #{title}
         ul#events
         script(src="/javascripts/evodraw-config.js")
block scripts
   script(src="/socket.io/socket.io.js")
