//
   Created by mariosky on 3/16/16.

extends layout
block content
   .container
      nav.navbar.navbar-default
         .container-fluid
            .navbar-header
               a.navbar-brand EvoSpace Dashboard
      .row
        .col-sm-8
           h2 {title}
        .col-sm-3


block scripts
   script(src="/javascripts/jquery.min.js")
