extends layout
block content
  .container
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand FaceReader Dashboard
    .row
      .col-sm-9
        canvas#faces(width="1400" height="700")
      .col-sm-3
        .panel.panel-default
          .panel-heading
            .panel-title Last Readings
          #events.panel-body




block scripts
  script.
    var xbox_id = #{xbox};
  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/socket.io.js")
  script(src="/javascripts/face-reader.js")

