extends layout
block content
  .container
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand FaceReader Dashboard
    .row
      .col-sm-8
        canvas#faces(width="1400" height="700")
      .col-sm-4
        .panel.panel-default
          .panel-heading
            .panel-title Latest Readings
          table.table#events




block scripts
  script.
    var xbox_id = #{xbox};
  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/socket.io.js")
  script(src="/javascripts/face-reader.js")

