//
   Created by mario on 3/6/16.
<!-- Latest compiled and minified CSS -->
link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
link(rel='stylesheet', href='/stylesheets/style.css')
link(href='http://fonts.googleapis.com/css?family=Oswald', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Abel', rel='stylesheet', type='text/css')