extends layout

block content
  .jumbotron.masthead
    .container
      h1#tit= title
      p Welcome to #{title}
      ul#events


      script(src="/javascripts/face-reader.js")




block scripts
  script(src="/socket.io/socket.io.js")

